$deeppurple: #311B92;
$deeppurple2: #311B93;

$primary:      $deeppurple;

//Importar las librerias fuente de bootstrap
//Comenzar a realizar modificaciones
@import '../node_modules/bootstrap/scss/bootstrap';

